@model List<S2B_Final.Models.DenunciaDisplayViewModel>
<div style="position:relative;">
    <table id="tableListEventos" class="table table-responsive  table-striped table-hover" style="border-bottom:0;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Tipo de Denúncia")

                </th>
                <th>
                    @Html.DisplayName("Data")

                </th>
                <th>
                    @Html.DisplayName("Horário")

                </th>
               
                <th>
                    @Html.DisplayName("Local")

                </th>

                <th style="width:7%;">Editar</th>
                <th style="width:7%;">Remover</th>

            </tr>
        </thead>
        @if (Model == null || Model.Count == 0)
        {
            <tbody>
                <tr class="tableDataDisplay" id="noDataToDisplayInTable">
                    <td colspan="2">Nenhum resultado para o registro pesquisado.</td>
                </tr>
            </tbody>

        }
        else
        {

            <tbody>

                @foreach (var item in Model)
                {

                    <tr class="tableDataDisplay">
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoOcorrencia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataOcorrido)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HorarioOcorrido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LocalOcorrido)
                        </td>

                        <td style="max-width:5%;">
                            <a href="@Url.Action("Edit", "Denuncia", new { id = item.ID})" title="Editar">
                                <span class="glyphicon glyphicon-pencil center-block text-center" aria-hidden="true"></span>
                            </a>
                        </td>
                        <td style="max-width:5%;">
                            <a href="@Url.Action("Delete", "Denuncia", new { id = item.ID})" title="Remover">
                                <span class="glyphicon glyphicon-remove-circle center-block text-center" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                }
                @*<tr>
                        <td colspan="3" id="trLoadingResults" style="border-style:hidden;" hidden>
                            <img src="~/Content/images/ajax-loader.gif" class="img-responsive imagemLoading" alt="Carregando Registros..." />
                        </td>
                    </tr>*@
            </tbody>
            @*<tfoot style="border-style:hidden;">
                    <tr class="no-border">
                        <td colspan="3" id="PagerTableData" class="no-border">
                            @Html.PagedListPager(Model, page => Url.Action("Pesquisar", new { page, searchBy = @ViewBag.searchBy, search = @ViewBag.search }), (PagedListRenderOptions)ViewBag.pLRO)
                        </td>
                    </tr>
                </tfoot>*@

        }



    </table>

</div>
@section Scripts{


    <script type="text/javascript">
        $(document).ready(inicializaComponentes);
        function inicializaComponentes() {
            $("#btnPesq").click(pesquisar);
            $("#btnExcluir").click(excluir);
        }
        function excluir() {
            var idALuno =
            $.ajax({
                type: "POST",
                url: "@Url.Action("Delete", "Denuncia","ID" )"
            });
        }

        function pesquisar() {
            var tipoBusca = $("input[type='radio'][name='searchBy']:checked").val();
            var textoBusca = $("input[type='text']#tbSearch").val();

            $.ajax({
                type: "GET",
                url: "@Url.Action("Pesquisar", "Denuncia")",
                dataType: "text",
                data: { searchBy: tipoBusca, search: textoBusca },
                beforeSend: function () {
                    $("#btnPesq").prop('disabled', true);
                    $("#trLoadingResults").show();
                },
                complete: function () {
                },
                success: function (response) {
                },
                error: function (response) {
                }
            }).done(function (result) {
                $("#listaDenuncia").html(result);
                $("#btnPesq").prop('disabled', false);
                $("#trLoadingResults").hide();
            });
            return false;
        }

    </script>
}




